<div class="shadow-lg border-black p-8 bg-white w-1/2 rounded" id="position">
    <div class="flex">
        <div class="flex-1 h-10">
            <input type="text" class="border p-2 w-full border-slate-300 focus:outline-none focus:border-slate-600 rounded font-light">
        </div>
        <div class="m-0 p-0 ml-2 h-10">
            <button class="p-2 border bg-emerald-600 border-emerald-600 min-w-16 text-white hover:bg-emerald-500 rounded font-light">Add todo</button>
        </div>
    </div>
    <div class="flex flex-col mt-2 py-2">
        <div class="flex justify-between items-center border border-slate-300 p-2 rounded mt-4 hover:font-semibold hover:shadow-xl hover:border-slate-100 hover:text-2xl hover:cursor-pointer">
            <span>element 1</span>
            <button class="p-2 border bg-red-600 border-red-600 min-w-16 text-white hover:bg-red-500 rounded font-light text-sm">Delete</button>
        </div>
        <div class="flex justify-between items-center border border-slate-300 p-2 rounded mt-4 hover:font-semibold hover:shadow-xl hover:border-slate-100 hover:text-2xl hover:cursor-pointer">
            <span>element 2</span>
            <button class="p-2 border bg-red-600 border-red-600 min-w-16 text-white hover:bg-red-500 rounded font-light text-sm">Delete</button>
        </div>
        <div class="flex justify-between items-center border border-slate-300 p-2 rounded mt-4 hover:font-semibold hover:shadow-xl hover:border-slate-100 hover:text-2xl hover:cursor-pointer">
            <span>element 3</span>
            <button class="p-2 border bg-red-600 border-red-600 min-w-16 text-white hover:bg-red-500 rounded font-light text-sm">Delete</button>
        </div>
    </div>
</div>
